<h3>Cr&eacute;ditos</h3>
<div>
  <div id='authorLeft'>
    <img src='/images/profilePic.jpg'/>
  </div>
  <div id='authorRight'>
    <p>Autor:</p>
    <p><strong>Daniel Pereiro</strong></p>
  </div>
</div>
