<div>
  <ul>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <li><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
         &nbsp;
         <a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></li>
  <% } %>
  </ul>
</div>

<br/>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<br/>

<form method="get" action="/quizes">
  <label for="search">Buscar pregunta:</label>
  <input type="text" name="search" id="search"/>
  <input type="submit" value="Buscar"/>
</form>
